.drawer .MuiDrawer-paper {
  position: relative;
  display: flex;
  height: 100vh;
  overflow-x: hidden;
  white-space: nowrap;
  width: auto;
  transition: width 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.drawer.open .MuiDrawer-paper {
  width: 240px;
}

.drawer.closed .MuiDrawer-paper {
  width: calc(56px + 1px);
}

@media (min-width: 600px) {
  .drawer.closed .MuiDrawer-paper {
    width: calc(64px + 1px);
  }
}

.drawer-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  white-space: nowrap;
}

.drawer-header .icon {
  position: absolute;
  right: -10px;
  cursor: pointer;
}

.drawer .profile {
  margin-top: auto;
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.drawer .profile > p {
  margin-left: 10px;
  font-weight: bold;
  color: black;
}