.job-card {
  flex-basis: 32%;
  flex-grow: 0;
  max-width: 500px;
  border: 1px solid #dfdfdf;
  border-radius: 4px;
  padding: 24px;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease-in-out;
}

.job-card:hover {
  transform: translateY(-4px);
}

.job-card-header {
  display: flex;
  align-items: center;
}

.job-card-header {
  margin-bottom: 12px;
}

.job-logo {
  width: 64px;
  height: 64px;
  object-fit: cover;
  border-radius: 20px;
  margin-right: 16px;
  margin-bottom: 20px;
}

.job-card-title,
.job-card-title .company,
.job-card-title .role,
.job-card-title .location {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: normal;
  text-transform: capitalize;
}

.job-card-title .company {
  font-weight: 700;
  color: #686868;
}

.job-card-title .location {
  font-size: 14px;
  font-weight: bold;
}

.estimated-salary {
  margin-bottom: 12px;
}

.estimated-salary h3 {
  font-size: 14px;
  color: #4c5969;
}

.job-card-experience h3 {
  color: #8a8a8b;
  font-size: 16px;
}

.about-company,
.job-card-body p {
  font-size: 18px;
  color: #212121;
  margin-bottom: 12px;
}

.job-card-body .about-company {
  font-weight: bold;
}

.job-card-body p,
.job-card-experience p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 16px;
}

.job-card-view-more {
  background-color: #2196f3;
  color: #fff;
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
}

.job-card-body {
  position: relative;
}

.job-card-body .content {
  position: relative;
  display: -webkit-box;
  -webkit-line-clamp: 12;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 20px;
}

.job-card-body .content::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, white 0%, transparent 70%);
  opacity: 1;
  pointer-events: none;
}

.job-card-body .show-more {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  cursor: pointer;
  color: #2196f3;
}

.job-card a {
  text-decoration: none;
}

.job-card-footer .easy-apply,
.job-card-footer .unlock-referrals {
  width: 100%;
  border: none;
  border-radius: 4px;
  padding: 16px;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 6px;
  cursor: pointer;
  text-transform: none;
}

.job-card-footer .easy-apply{
  background-color: #55eec3;
  color: black;
}

.job-card-footer .unlock-referrals {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4942db;
  color: white;
}

.job-card-footer .unlock-referrals .people{
  display: flex;
  align-items: center;
  margin-right: 8px;
}

@media screen and (max-width: 986px) {
  .job-card {
    flex-basis: 48%;
  }
}

@media screen and (max-width: 750px) {
  .job-card {
    flex-basis: 100%;
  }
}
